<!DOCTYPE html>
<html>
  
<body>
    
  <section id="section-works" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Members Of Our Community</h2>
            <p>Connect with members of our community, listed here.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row col-md-offset-1 col-md-8">
            <h2>John Doe</h2>
            <p>Hi! You're not alone. I may be able to help.</p>
            <!-- <svg class="right" height="100" width="100">
              <circle cx="50" cy="50" r="25" stroke="" stroke-width="3" fill="green" />
            </svg> -->
            <a href="#">
              <button class="comButton" type="button" name="button">Connect With Me</button>
            </a>
          </div>
          <div class="row col-md-offset-1 col-md-8">
            <h2>Amanda Tom</h2>
            <p>Hi! I need help.</p>
            <!-- <svg class="right" height="100" width="100">
              <circle cx="50" cy="50" r="25" stroke="" stroke-width="3" fill="green" />
            </svg> -->
            <a href="#">
              <button class="comButton" type="button" name="button">Connect With Me</button>
            </a>
          </div>
          <div class="row col-md-offset-1 col-md-8">
            <h2>Paul Jacobs</h2>
            <p>Suffering through depression is hard.</p>
            <!-- <svg class="right" height="100" width="100">
              <circle cx="50" cy="50" r="25" stroke="" stroke-width="3" fill="green" />
            </svg> -->
            <a href="#">
              <button class="comButton" type="button" name="button">Connect With Me</button>
            </a>
          </div>
          <div class="row col-md-offset-1 col-md-8">
            <h2>Cindy Van Kyk</h2>
            <p>Hi! You're not alone. I may be able to help.</p>
            <!-- <svg class="right" height="100" width="100">
              <circle cx="50" cy="50" r="25" stroke="" stroke-width="3" fill="green" />
            </svg> -->
            <a href="#">
              <button class="comButton" type="button" name="button">Connect With Me</button>
            </a>
          </div>
          
        </div>
      </div>

    </div>
  </section>
</body>
</html>
