
  <section id="intro">
    <div class="intro-content">
      <h2>Hold My Hand</h2>
      <h3>An online platform provides a safe, supportive and informative space for those affected by depression</h3>
      <div>
        <a href="signUp" class="btn-get-started scrollto">Sign Up</a>
        <a href="signin" class="btn-get-started scrollto">Sign In</a>
      </div>
      <div>
        <a href="infoLink" class="btn-get-started scrollto">Info Link</a>
      </div>
    </div>
  </section>





